{{#encounter}}
<div class="left border-strong" style="width:80mm; height:36.7mm; padding-left: 5px; padding-top:2px;">
    <div class="row padding">
        <div class="left" style="width: 30mm">Specialty</div>
        <div class="left"><b>{{SPECIALTY_DESCRIPTION}}</b></div>
    </div>
    <div class="row padding">
        <div class="left" style="width: 30mm">Date of Clinic</div>
        <div class="left" style="width: 30mm">{{APPT_DATE}} {{APPT_TIME}}</div>
        <div class="left" style="width: 0.2mm"></div>
        <div class="left"><b>{{CLINIC_CODE}}</b></div>
    </div>
    <div class="row padding">
        <div class="left" style="width: 30mm">To Be Seen By</div>
        <div class="left"><b>{{CLINICIAN_NAME}}</b></div>
    </div>
    <div class="row padding">
        <div class="left" style="width: 30mm">Consultant</div>
        <div class="left">{{CONSULTANT_NAME}}</div>
    </div>
    <div class="row padding">
        <div class="left" style="width: 58mm"><b>Has the procedure taken place today</b></div>
        <div class="left" style="width: 5mm"><b>YES</b></div>
        <div class="left tickbox-long"></div>
    </div>
    <div class="row padding">
        <div class="left" style="width: 58mm"><b>Please tick where appropriate*</b></div>
        <div class="left" style="width: 5mm"><b>NO</b></div>
        <div class="left tickbox-long"></div>
    </div>
    <br />
    <div class="row padding">
        <div class="centre" style="font-size: 10px;"><b>*IF PROCEDURE HAS TAKEN PLACE TODAY <br />PLEASE COMPLETE PROCEDURE FORM</b></div>
    </div>
</div>
{{/encounter}}