<div class="border-strong" style="border-bottom: none; text-align: center;">
    <b>FOLLOW UP ATTENDANCE</b>
</div>

<div class="border-strong">
    <table class="table border">
        <tr>
            <td>Appointment In:</td>
            <td><b>Weeks  ...........</b></td>
            <td><b>Months ...........</b></td>
            <td><b class="left">Next Available</b> <div class="left tickbox"></div> </td>
        </tr>
    </table>
    <table class="table border">
        <tr>
            <td>Sites:</td>
            <td><b>MMH:</b></td>
            <td>
                <div class="tickbox"></div>
            </td>
            <td><b>SITT:</b></td>
            <td>
                <div class="tickbox"></div>
            </td>
            <td><b>SHEP:</b></td>
            <td>
                <div class="tickbox"></div>
            </td>
            <td><b>OTHER:</b></td>
            <td>
                <div class="tickbox"></div>
            </td>
        </tr>
        <tr>
            <td>To be seen by:</td>
            <td><b>Consultant:</b></td>
            <td>
                <div class="tickbox"></div>
            </td>
            <td><b>Registrar:</b></td>
            <td>
                <div class="tickbox"></div>
            </td>
            <td><b>CNS:</b></td>
            <td>
                <div class="tickbox"></div>
            </td>
            <td><b>Other:</b></td>
            <td>
                <div class="tickbox"></div>
            </td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <td>
                <div class="left" style="width:35mm;"><b>Interpreter Required?</b></div><div class="left">Yes</div><div class="left tickbox"></div>
            </td>
            <td>
                Language:&nbsp;&nbsp;&nbsp;&nbsp;..........................................................................................................
            </td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <td style="width:53mm;">
                <div class="left" style="width:35mm;"><b>Transport Required?</b></div><div class="left">Yes</div><div class="left tickbox"></div>
            </td>
            <td>
                <div class="row">
                    <div class="left" style="width:45mm;"><div class="left" style="width:22mm;">Double Hander</div><div class="left tickbox"></div></div>
                    <div class="left" style="width:45mm;"><div class="left" style="width:22mm;">Care Vehicle</div><div class="left tickbox"></div></div>
                </div>
                <div class="row">
                    <div class="left" style="width:45mm;"><div class="left" style="width:22mm;">Hospital Car</div><div class="left tickbox"></div></div>
                    <div class="left" style="width:45mm;"><div class="left" style="width:22mm;">Other</div><div class="left tickbox"></div></div>
                </div>
                <div class="row">
                    <div class="left" style="width:45mm;"><div class="left" style="width:22mm;">Escort Needed</div><div class="left tickbox"></div></div>
                </div>
            </td>
        </tr>
    </table>
</div>