                    <!-- Version 1 -->
<div class="left border" style="width: 81.7mm; margin-top: 3px; padding: 5px; margin-left:5px;">
    <div class="row padding">
        <div class="left"><b>LOW PRIORITY PROCEDURES</b></div>
    </div>
    <div class="row padding">
        <div class="left">Inappropriate referral, refer back to the GP and discharge</div>
    </div>
    <div class="row padding">
        <div class="left">Yes</div>
        <div class="left tickbox"></div>
    </div>
    <div class="row padding">
        <div class="left"><b>Discharge</b></div>
    </div>
</div>