<div class="left border" style="width: 65mm; margin-top: 3px; padding: 5px; margin-left:1px; height:18.3mm;">
    <div class="row padding">
        <div class="left"><b>NOTES PRESENT AT TIME SEEN</b> </div>
        <div class="left tickbox"></div>
    </div>
    <div class="row padding">
        <div class="left"><b>Not Seen</b> - No Medical Notes</div>
        <div class="left tickbox"></div>
    </div>
    <div class="row padding">
        <div class="left"><b>Not Seen</b> - No Letter Please check oPN</div>
        <div class="left tickbox"></div>
    </div>
    <div class="row padding">
        <div class="left"><b>Not Seen</b> - No Doctor</div>
        <div class="left tickbox"></div>
    </div>
</div>