{{#encounter}}
<div class="left border" style="width:70mm; height:37mm; padding-left: 5px; padding-top:2px;">
    <div class="row padding">
        <b style="font-size:16px!important;">{{PATIENT_NAME}}</b>
    </div>
    <div class="row padding">
        <b style="font-size:14px!important;">CRN {{CRN}}</b>
    </div>
    <div class="row padding">
        <span style="font-size:14px!important;">NHS {{NHS_NUMBER}}</span>
    </div>
    <div class="row padding">
        <span style="font-size:14px!important;">DoB {{DATE_OF_BIRTH}}</span>
    </div>
    <div class="row padding">
        <span>PATHWAY {{PATHWAY_NO}}</span>
    </div>
    <div class="row padding">
        <b style="font-size:14px!important;">{{CLINIC_CODE}} {{APPT_TIME}}</b>
    </div>
</div>
{{/encounter}}