<!DOCTYPE html>
<html>
<head>
    <title>Outpatient Attendance User Guide</title>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="{{ServerUrl}}/css/form.css?v=5" />
</head>
<body>
    <div class="page">
        <!-- Header and image -->
        <div class="row">
            <div class="left">
                Outpatient Attendance User Guide (v.0.0.1)<br />
            </div>
            <div class="span4">
                <img src="{{ServerUrl}}/img/logo.jpg" align="right" />
            </div>
        </div>
        <div class="row">
            <div class="left">&nbsp;</div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
            <div class="centre centre">
                <p style="font-size:22px;" class="fg-darkBlue">Dynamic Outpatient Outcome Form</p>
                <p style="font-size:22px;" class="fg-darkBlue">User Guide</p>
            </div>
        </div>
        <div class="row">
            <b style="font-size:16px;" class="fg-darkBlue">Accessing the form</b>
            <p>To access the forms first open up Internet Explorer by clicking on the <img src="{{ServerUrl}}/templates/images/UserGuide/IELogo.png" /> icon.</p>
            <p>Once Internet Explorer has been opened type <b>bi.medway.nhs.uk</b> into the address bar and hit enter.</p>
            <p><img src="{{ServerUrl}}/templates/images/UserGuide/IEAddressBar.png" /></p>
            <p>You will be prompted to login.  Enter your Trust username and password (the same account you use to login to Windows) and hit enter.</p>
            <p>Once you have logged in a list of documents that are available are displayed; click on Outpatient Attendance Form.</p>
            <p><img src="{{ServerUrl}}/templates/images/UserGuide/OutpatientFormMenuOption.png" /></p>
            <p>This will display a list of options to search for a patient</p>
        </div>
        <div class="row">
            <b style="font-size:16px;" class="fg-darkBlue">Searching for a Patient/List</b><br />
            <p>The following options are available to search for a patient.</p>
            <p><img src="{{ServerUrl}}/templates/images/UserGuide/SearchOptions.png" style="width:175mm;" /></p>
            <p style="font-size:16px;" class="fg-darkBlue">By Hospital Number</p>
            <p>Enter the Hospital Number (you do not need to type in capital letters) and hit enter or click the Search Button.</p>
            <p style="font-size:16px;" class="fg-darkBlue">By NHS Number</p>
            <p>Enter the NHS Number and hit enter or click the search button.</p>
            <p style="font-size:16px;" class="fg-darkBlue">By Clinic</p>
            <p>Enter the Clinic Code (you do not need to type in capital letters), use the tab key to highlight the Clinic Date field enter the date in dd/mm/yyyy format (you do not need to type the forward slashes).  Hit enter or click search</p>
            <p style="font-size:16px;" class="fg-darkBlue">By Pathway</p>
            <p>Enter the pathway number (you do not need to type in capital letters) and hit enter or click the Search button.</p>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
    <div class="page">
        <div class="row">
            <b style="font-size:16px;" class="fg-darkBlue">Printing a Form</b><br />
            <p>Once the search are displayed click Print.  This will open the form as a PDF document.</p>
            <p><img src="{{ServerUrl}}/templates/images/UserGuide/SearchResults.png" style="width:190mm;"/></p>
            <p>Once the document has opened click on the Print icon or hit Ctrl+p</p>
            <p><img src="{{ServerUrl}}/templates/images/UserGuide/PDFOptions.png" /></p>
            <p>Alternatively right-click on the document and select <b>Print…</b> from the options.</p>
        </div>
        <div class="row">
            <b style="font-size:16px;" class="fg-darkBlue">Print a Clinic List</b><br />
            <p>When searching by clinic all patients in the list are displayed.  Patients can be printed individually by clicking on Print next to the patient (as above).</p>
            <p>Alternatively all patients in the list can be printed by clicking Print All.</p>
            <p><img src="{{ServerUrl}}/templates/images/UserGuide/ClinicSearchResults.png" style="width:190mm;" /></p>
            <p>Once the document has opened click on the Print icon or hit Ctrl+p</p>
            <p><img src="{{ServerUrl}}/templates/images/UserGuide/ClinicPDFOptions.png" /></p>
            <p>Alternatively right-click on the document and select <b>Print…</b> from the options.</p>
        </div>
        <div class="row">
            <b style="font-size:16px;" class="fg-darkBlue">Logging Out</b><br />
            <p>The system will keep you signed in for 24hours after which you will be prompted to enter your username and password to continue.  If you wish to logout for security reasons click Logout in the top left of the screen.</p>
            <p><img src="{{ServerUrl}}/templates/images/UserGuide/LogOut.png" /></p>
        </div>
        <div class="row">
            <b style="font-size:16px;" class="fg-darkBlue">Additonal Help and Assistance</b><br />
            <p>If you require any additional help or there is an issue with the system please contact the IT Helpdesk via the link below.<br />
                <a href="https://servicedesk.medway.nhs.uk/" target="_blank">https://servicedesk.medway.nhs.uk/</a>
            </p>
        </div>
    </div>
</body>
</html>