USE [FreeHealthApps_DynamicOutcomeForm]
GO
/****** Object:  Schema [app]    Script Date: 29/04/2017 20:18:28 ******/
CREATE SCHEMA [app]
GO
/****** Object:  Schema [PAS]    Script Date: 29/04/2017 20:18:28 ******/
CREATE SCHEMA [PAS]
GO
/****** Object:  Schema [RTT]    Script Date: 29/04/2017 20:18:28 ******/
CREATE SCHEMA [RTT]
GO
/****** Object:  UserDefinedFunction [RTT].[fnNewFollowup]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Matthew Cutting
-- ALTER date:	02.08.2016
-- Description:	Used for checking if an appointment is new or follow up by checking the user code
-- =============================================
CREATE FUNCTION [RTT].[fnNewFollowup] (@user VARCHAR(20), @flag CHAR(1), @default CHAR(1))
	RETURNS CHAR(1)
AS
BEGIN
	DECLARE @newFollowup CHAR(1)

	SELECT @newFollowup = DestinationCode FROM RPA_Datawarehouse_Lookup.Lookups.NewFollowUpUserMapping WHERE SourceCode = @user;
	
	IF (@newFollowup IS NULL) 
	BEGIN
		SET @newFollowup = ISNULL(@flag, @default)
	END

	RETURN @newFollowup;
END

GO
/****** Object:  Table [app].[FormGeneratorGroup]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[FormGeneratorGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CssClass] [nvarchar](255) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[DefaultTemplateId] [int] NULL,
	[Display] [bit] NOT NULL,
 CONSTRAINT [PK_FormGeneratorGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [app].[FormGeneratorPASQuery]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[FormGeneratorPASQuery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[SQL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_FormGeneratorOASISQuery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [app].[FormGeneratorSearch]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[FormGeneratorSearch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_FormGeneratorSearch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [app].[FormGeneratorSearchTemplate]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[FormGeneratorSearchTemplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[SearchId] [int] NOT NULL,
	[TemplateId] [int] NOT NULL,
	[PASQueryId] [int] NOT NULL,
 CONSTRAINT [PK_FormGeneratorSearchTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [app].[FormGeneratorTemplate]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[FormGeneratorTemplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[GeneratorUrl] [nvarchar](255) NOT NULL,
	[AllGeneratorUrl] [nvarchar](255) NULL,
	[TemplateName] [nvarchar](255) NOT NULL,
	[AllTemplateName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[StoredProcedure1] [nvarchar](255) NULL,
	[StoredProcedure2] [nvarchar](255) NULL,
	[StoredProcedure3] [nvarchar](255) NULL,
	[StoredProcedure4] [nvarchar](255) NULL,
	[StoredProcedure5] [nvarchar](255) NULL,
	[StoredProcedure6] [nvarchar](255) NULL,
	[StoredProcedure7] [nvarchar](255) NULL,
	[StoredProcedure8] [nvarchar](255) NULL,
	[StoredProcedure9] [nvarchar](255) NULL,
	[StoredProcedure10] [nvarchar](255) NULL,
	[EncounterPASQueryId] [int] NULL,
	[Display] [bit] NOT NULL,
 CONSTRAINT [PK_FormGeneratorTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PAS].[Appointment]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAS].[Appointment](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[ClinicId] [int] NOT NULL,
	[ApptDate] [datetime] NOT NULL,
	[PathwayNumber] [nvarchar](255) NOT NULL,
	[PathwayId] [int] NOT NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PAS].[Clinic]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAS].[Clinic](
	[ClinicId] [int] IDENTITY(1,1) NOT NULL,
	[ClinicCode] [nvarchar](50) NOT NULL,
	[ClinicDescription] [nvarchar](255) NOT NULL,
	[ConsultantId] [int] NOT NULL,
	[SpecialtyId] [int] NOT NULL,
 CONSTRAINT [PK_Clinic] PRIMARY KEY CLUSTERED 
(
	[ClinicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PAS].[Consultant]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAS].[Consultant](
	[ConsultantId] [int] IDENTITY(1,1) NOT NULL,
	[ConsultantName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Consultant] PRIMARY KEY CLUSTERED 
(
	[ConsultantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PAS].[Patient]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAS].[Patient](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NULL,
	[FamilyName] [nvarchar](255) NULL,
	[DateOfBirth] [date] NULL,
	[NHSNumber] [nvarchar](10) NULL,
	[CRN] [nvarchar](50) NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PAS].[Specialty]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAS].[Specialty](
	[SpecialtyId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Specialty] PRIMARY KEY CLUSTERED 
(
	[SpecialtyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [RTT].[Event]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RTT].[Event](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventDefinitionId] [int] NOT NULL,
	[PatientId] [int] NULL,
	[EncounterId] [int] NULL,
	[EncounterType] [varchar](10) NULL,
	[ReferralId] [int] NULL,
	[PathwayId] [int] NULL,
	[PlannedAdmitId] [int] NULL,
	[SpecialtyCode] [varchar](255) NULL,
	[SpecialtyDescription] [varchar](255) NULL,
	[ConsultantCode] [varchar](255) NULL,
	[ConsultantName] [varchar](255) NULL,
	[OutcomeCode] [varchar](255) NULL,
	[OutcomeDescription] [varchar](255) NULL,
	[ClinicCode] [varchar](255) NULL,
	[InpatientWaitingList] [varchar](255) NULL,
	[OutpatientWaitingList] [varchar](255) NULL,
	[ProcedureDescription] [varchar](255) NULL,
	[EventDate] [date] NULL,
	[EventTime] [time](7) NULL,
	[EventDateTime] [datetime2](7) NULL,
	[Ix] [int] NULL,
	[RevIx] [int] NULL,
	[PathwayIx] [int] NULL,
	[PathwayRevIx] [int] NULL,
	[VisitIx] [int] NULL,
	[VisitRevIx] [int] NULL,
	[SerialDnaIx] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [RTT].[EventAction]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RTT].[EventAction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_EventAction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [RTT].[EventDefinition]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RTT].[EventDefinition](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[EventSubTypeId] [int] NULL,
	[EndpointId] [int] NOT NULL,
	[ActionId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](2) NULL,
	[Description] [nvarchar](255) NULL,
	[LongDescription] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [RTT].[EventDescription]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RTT].[EventDescription](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[TemplateId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_EventDescription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [RTT].[EventDescriptionTemplate]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RTT].[EventDescriptionTemplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Template] [nvarchar](512) NOT NULL,
 CONSTRAINT [PK_EventDescriptionTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [RTT].[EventDescriptionTemplateEventDisplayOrder]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RTT].[EventDescriptionTemplateEventDisplayOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventDisplayOrderId] [int] NOT NULL,
	[EventDescriptionTemplateId] [int] NOT NULL,
	[TemplateOrder] [int] NOT NULL,
 CONSTRAINT [PK_EventDescriptionTemplateEventDisplayOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [RTT].[EventDisplay]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RTT].[EventDisplay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[MaxNoEvents] [int] NOT NULL,
	[NoStartEvents] [int] NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_EventDisplay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [RTT].[EventDisplayOrder]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RTT].[EventDisplayOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventDisplayId] [int] NOT NULL,
	[EventDefinitionId] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[CssClass] [nvarchar](255) NULL,
 CONSTRAINT [PK_EventDisplayOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [RTT].[EventEndpoint]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RTT].[EventEndpoint](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_EventEndpoint] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [RTT].[EventSubType]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RTT].[EventSubType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_EventSubType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [RTT].[EventType]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RTT].[EventType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_EventType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [RTT].[Pathway]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RTT].[Pathway](
	[PathwayId] [int] IDENTITY(1,1) NOT NULL,
	[PathwayNumber] [nvarchar](255) NOT NULL,
	[DaysWait] [int] NULL,
	[ClockStartDate] [date] NULL,
	[ClockStopDate] [date] NULL,
 CONSTRAINT [PK_Pathway] PRIMARY KEY CLUSTERED 
(
	[PathwayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [RTT].[tvf_GetEventByDefinitionByPathway]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Matthew Cutting
-- ALTER date:	25.10.2016
-- Description:	Used for returning an RTT.Event row by the name of the definition
-- =============================================
CREATE FUNCTION [RTT].[tvf_GetEventByDefinitionByPathway](	
	@pathwayId INT,
	@definitionType NVARCHAR(4000),
	@definitionFilterBy NVARCHAR(10),
	@exists NVARCHAR(4000),
	@existsFilterBy NVARCHAR(4000)
)
RETURNS TABLE 
AS
	RETURN (	
		SELECT e.Id, e.EventDateTime, e.PathwayId, e.EncounterId, ed.Name AS EventDefinition, e.ClinicCode, e.OutcomeCode
			--,(SELECT TOP 1 1 FROM Reporting.DM.RTT rtt WHERE rtt.PathwayNumber = e.PathwayId AND e.EventDate >= rtt.ClockStartDate AND (rtt.ClockStopDate IS NULL OR e.EventDate <= rtt.ClockStopDate)) AS IsInRttPeriod
		FROM RTT.[Event] e 
		JOIN RTT.EventDefinition ed ON e.EventDefinitionId = ed.Id
		WHERE 
			e.PathwayId = @pathwayId AND
			((1 = CASE @definitionFilterBy WHEN 'NOT IN' THEN 1 END AND CHARINDEX(ed.Name + ',', @definitionType) <= 0)
			OR
			(1 = CASE @definitionFilterBy WHEN 'IN' THEN 1 END AND CHARINDEX(ed.Name + ',', @definitionType) > 0))
			AND (
				(1 = CASE WHEN @existsFilterBy IS NULL THEN 1 END)
				OR (1 = CASE @existsFilterBy WHEN 'EXISTS' THEN 1 END AND EXISTS(										
								SELECT b.Id 
								FROM RTT.[Event] b
								JOIN RTT.EventDefinition b_ed ON b.EventDefinitionId = b_ed.Id  
								WHERE b.EncounterId = e.EncounterId AND CHARINDEX(b_ed.Name + ',', @exists) > 0)
					)
				OR (1 = CASE @existsFilterBy WHEN 'NOT EXISTS' THEN 1 END AND NOT EXISTS(										
								SELECT b.Id 
								FROM RTT.[Event] b
								JOIN RTT.EventDefinition b_ed ON b.EventDefinitionId = b_ed.Id  
								WHERE b.EncounterId = e.EncounterId AND CHARINDEX(b_ed.Name + ',', @exists) > 0)
					)
			)
	)

GO
/****** Object:  UserDefinedFunction [RTT].[tvf_GetEventDefinitionByName]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Matthew Cutting
-- ALTER date:	02.08.2016
-- Description:	Used for returning an RTT.Event row by the name field
-- =============================================
CREATE FUNCTION [RTT].[tvf_GetEventDefinitionByName](	
	@name nvarchar(255)
)
RETURNS TABLE 
AS
	RETURN 
	(
		SELECT TOP 1 *	FROM RTT.[EventDefinition] ed WHERE ed.Name = @name
	)

GO
SET IDENTITY_INSERT [app].[FormGeneratorGroup] ON 

GO
INSERT [app].[FormGeneratorGroup] ([Id], [Name], [Description], [CssClass], [ImageUrl], [DefaultTemplateId], [Display]) VALUES (1, N'Outpatient Attendance Form', N'Generate an outpatient attendance form automatically populated with clinic and patient details<br/><br/>This form also provides a summary of the pathway as well as an event timeline.', N'bg-green', N'/img/attendanceForm.jpg', 1, 1)
GO
INSERT [app].[FormGeneratorGroup] ([Id], [Name], [Description], [CssClass], [ImageUrl], [DefaultTemplateId], [Display]) VALUES (2, N'Outpatient Attendance Help Sheet', N'Help sheet for the outpatient attendance form listing definitions related to pathways.<br/><br/> The help sheet displays a legend of all pathway events with descriptions.', N'bg-blue', N'/img/CribSheet.jpg', 3, 1)
GO
SET IDENTITY_INSERT [app].[FormGeneratorGroup] OFF
GO
SET IDENTITY_INSERT [app].[FormGeneratorPASQuery] ON 

GO
SET IDENTITY_INSERT [app].[FormGeneratorPASQuery] OFF
GO
SET IDENTITY_INSERT [app].[FormGeneratorSearch] ON 

GO
INSERT [app].[FormGeneratorSearch] ([Id], [Name], [Description], [Url], [DisplayOrder]) VALUES (1, N'SearchByCRN', N'By Hospital Number', N'/Search/SearchByCRN', 10)
GO
INSERT [app].[FormGeneratorSearch] ([Id], [Name], [Description], [Url], [DisplayOrder]) VALUES (2, N'SearchByNHSNumber', N'By NHS Number', N'/Search/SearchByNHS', 20)
GO
INSERT [app].[FormGeneratorSearch] ([Id], [Name], [Description], [Url], [DisplayOrder]) VALUES (3, N'SearchByClinic', N'By Clinic', N'/Search/SearchByClinic', 30)
GO
SET IDENTITY_INSERT [app].[FormGeneratorSearch] OFF
GO
SET IDENTITY_INSERT [app].[FormGeneratorSearchTemplate] ON 

GO
INSERT [app].[FormGeneratorSearchTemplate] ([Id], [GroupId], [SearchId], [TemplateId], [PASQueryId]) VALUES (1, 1, 1, 1, 1)
GO
INSERT [app].[FormGeneratorSearchTemplate] ([Id], [GroupId], [SearchId], [TemplateId], [PASQueryId]) VALUES (2, 1, 2, 1, 2)
GO
INSERT [app].[FormGeneratorSearchTemplate] ([Id], [GroupId], [SearchId], [TemplateId], [PASQueryId]) VALUES (3, 1, 3, 1, 3)
GO
SET IDENTITY_INSERT [app].[FormGeneratorSearchTemplate] OFF
GO
SET IDENTITY_INSERT [app].[FormGeneratorTemplate] ON 

GO
INSERT [app].[FormGeneratorTemplate] ([Id], [GroupId], [GeneratorUrl], [AllGeneratorUrl], [TemplateName], [AllTemplateName], [Description], [StoredProcedure1], [StoredProcedure2], [StoredProcedure3], [StoredProcedure4], [StoredProcedure5], [StoredProcedure6], [StoredProcedure7], [StoredProcedure8], [StoredProcedure9], [StoredProcedure10], [EncounterPASQueryId], [Display]) VALUES (3, 2, N'pdf/generatebyappointmentid', NULL, N'CribSheet', NULL, NULL, N'RTT.uspCribSheet', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [app].[FormGeneratorTemplate] OFF
GO
SET IDENTITY_INSERT [PAS].[Appointment] ON 

GO
INSERT [PAS].[Appointment] ([AppointmentId], [PatientId], [ClinicId], [ApptDate], [PathwayNumber], [PathwayId]) VALUES (1, 1, 1, CAST(N'2016-10-20T11:15:00.000' AS DateTime), N'000000000000000', 1)
GO
INSERT [PAS].[Appointment] ([AppointmentId], [PatientId], [ClinicId], [ApptDate], [PathwayNumber], [PathwayId]) VALUES (2, 2, 1, CAST(N'2016-10-20T09:15:00.000' AS DateTime), N'000000000000001', 2)
GO
INSERT [PAS].[Appointment] ([AppointmentId], [PatientId], [ClinicId], [ApptDate], [PathwayNumber], [PathwayId]) VALUES (3, 3, 1, CAST(N'2016-10-20T10:15:00.000' AS DateTime), N'000000000000002', 3)
GO
SET IDENTITY_INSERT [PAS].[Appointment] OFF
GO
SET IDENTITY_INSERT [PAS].[Clinic] ON 

GO
INSERT [PAS].[Clinic] ([ClinicId], [ClinicCode], [ClinicDescription], [ConsultantId], [SpecialtyId]) VALUES (1, N'ENT01', N'ENT Routine Clinic', 1, 1)
GO
INSERT [PAS].[Clinic] ([ClinicId], [ClinicCode], [ClinicDescription], [ConsultantId], [SpecialtyId]) VALUES (2, N'ENT02', N'ENT Routine Clinic', 2, 1)
GO
SET IDENTITY_INSERT [PAS].[Clinic] OFF
GO
SET IDENTITY_INSERT [PAS].[Consultant] ON 

GO
INSERT [PAS].[Consultant] ([ConsultantId], [ConsultantName]) VALUES (1, N'MOUTASAMY,MRS Winifred')
GO
INSERT [PAS].[Consultant] ([ConsultantId], [ConsultantName]) VALUES (2, N'GOHL, MR Rajesh')
GO
SET IDENTITY_INSERT [PAS].[Consultant] OFF
GO
SET IDENTITY_INSERT [PAS].[Patient] ON 

GO
INSERT [PAS].[Patient] ([PatientId], [FirstName], [FamilyName], [DateOfBirth], [NHSNumber], [CRN]) VALUES (1, N'Fred', N'FLINTSTONE', CAST(N'1990-01-01' AS Date), N'0000000000', N'000000AA')
GO
INSERT [PAS].[Patient] ([PatientId], [FirstName], [FamilyName], [DateOfBirth], [NHSNumber], [CRN]) VALUES (2, N'Wilma', N'FLINTSTONE', CAST(N'1990-01-01' AS Date), N'1111111111', N'000000BB')
GO
INSERT [PAS].[Patient] ([PatientId], [FirstName], [FamilyName], [DateOfBirth], [NHSNumber], [CRN]) VALUES (3, N'Barney', N'RUBBLE', CAST(N'1990-01-01' AS Date), N'2222222222', N'000000CC')
GO
SET IDENTITY_INSERT [PAS].[Patient] OFF
GO
SET IDENTITY_INSERT [PAS].[Specialty] ON 

GO
INSERT [PAS].[Specialty] ([SpecialtyId], [Description]) VALUES (1, N'ENT')
GO
SET IDENTITY_INSERT [PAS].[Specialty] OFF
GO
SET IDENTITY_INSERT [RTT].[Event] ON 

GO
SET IDENTITY_INSERT [RTT].[Event] OFF
GO
SET IDENTITY_INSERT [RTT].[EventAction] ON 

GO
INSERT [RTT].[EventAction] ([Id], [Name], [Description]) VALUES (1, N'S', N'Seen')
GO
INSERT [RTT].[EventAction] ([Id], [Name], [Description]) VALUES (2, N'C', N'Cancelled')
GO
INSERT [RTT].[EventAction] ([Id], [Name], [Description]) VALUES (3, N'A', N'Attend')
GO
SET IDENTITY_INSERT [RTT].[EventAction] OFF
GO
SET IDENTITY_INSERT [RTT].[EventDefinition] ON 

GO
INSERT [RTT].[EventDefinition] ([Id], [EventTypeId], [EventSubTypeId], [EndpointId], [ActionId], [Name], [Code], [Description], [LongDescription]) VALUES (1, 1, NULL, 1, NULL, N'REFERRAL_START', NULL, N'Referral Start', NULL)
GO
INSERT [RTT].[EventDefinition] ([Id], [EventTypeId], [EventSubTypeId], [EndpointId], [ActionId], [Name], [Code], [Description], [LongDescription]) VALUES (2, 1, NULL, 3, NULL, N'REFERRAL_END', NULL, N'Referral End', NULL)
GO
INSERT [RTT].[EventDefinition] ([Id], [EventTypeId], [EventSubTypeId], [EndpointId], [ActionId], [Name], [Code], [Description], [LongDescription]) VALUES (3, 2, NULL, 1, NULL, N'PATHWAY_START', N'PS', N'Pathway Start', NULL)
GO
SET IDENTITY_INSERT [RTT].[EventDefinition] OFF
GO
SET IDENTITY_INSERT [RTT].[EventDescription] ON 

GO
INSERT [RTT].[EventDescription] ([Id], [EventId], [TemplateId], [Description], [DisplayOrder]) VALUES (2, 1, 2, N'Pathway Start', 10)
GO
INSERT [RTT].[EventDescription] ([Id], [EventId], [TemplateId], [Description], [DisplayOrder]) VALUES (3, 2, 2, N'Clock Start', 10)
GO
INSERT [RTT].[EventDescription] ([Id], [EventId], [TemplateId], [Description], [DisplayOrder]) VALUES (4, 2, 1, N'Source: EBS ELECTRONIC BOOKING ', 20)
GO
SET IDENTITY_INSERT [RTT].[EventDescription] OFF
GO
SET IDENTITY_INSERT [RTT].[EventDescriptionTemplate] ON 

GO
INSERT [RTT].[EventDescriptionTemplate] ([Id], [Name], [Description], [Template]) VALUES (1, N'OutcomeDescription', N'Uses the Outcome Description in the RTT.Event table', N'{0}')
GO
INSERT [RTT].[EventDescriptionTemplate] ([Id], [Name], [Description], [Template]) VALUES (2, N'EventDescription', N'Uses the Event Description in the RTT.EventDefinition table', N'{0}')
GO
INSERT [RTT].[EventDescriptionTemplate] ([Id], [Name], [Description], [Template]) VALUES (3, N'DiagnosticProcedures', N'Uses the Outcome Description in the RTT.Event table for Diagnostic Procedures', N'DIAGNOSIS: {0}')
GO
SET IDENTITY_INSERT [RTT].[EventDescriptionTemplate] OFF
GO
SET IDENTITY_INSERT [RTT].[EventDescriptionTemplateEventDisplayOrder] ON 

GO
INSERT [RTT].[EventDescriptionTemplateEventDisplayOrder] ([Id], [EventDisplayOrderId], [EventDescriptionTemplateId], [TemplateOrder]) VALUES (1, 1, 2, 10)
GO
INSERT [RTT].[EventDescriptionTemplateEventDisplayOrder] ([Id], [EventDisplayOrderId], [EventDescriptionTemplateId], [TemplateOrder]) VALUES (2, 1, 5, 20)
GO
INSERT [RTT].[EventDescriptionTemplateEventDisplayOrder] ([Id], [EventDisplayOrderId], [EventDescriptionTemplateId], [TemplateOrder]) VALUES (3, 2, 2, 10)
GO
SET IDENTITY_INSERT [RTT].[EventDescriptionTemplateEventDisplayOrder] OFF
GO
SET IDENTITY_INSERT [RTT].[EventDisplay] ON 

GO
INSERT [RTT].[EventDisplay] ([Id], [Name], [MaxNoEvents], [NoStartEvents], [Version]) VALUES (1, N'OutpatientAttendance_PathwayTimeline', 10, 2, 1)
GO
SET IDENTITY_INSERT [RTT].[EventDisplay] OFF
GO
SET IDENTITY_INSERT [RTT].[EventDisplayOrder] ON 

GO
INSERT [RTT].[EventDisplayOrder] ([Id], [EventDisplayId], [EventDefinitionId], [DisplayOrder], [CssClass]) VALUES (1, 1, 5, 10, N'clock-start')
GO
INSERT [RTT].[EventDisplayOrder] ([Id], [EventDisplayId], [EventDefinitionId], [DisplayOrder], [CssClass]) VALUES (2, 1, 3, 20, N'pathway-start')
GO
INSERT [RTT].[EventDisplayOrder] ([Id], [EventDisplayId], [EventDefinitionId], [DisplayOrder], [CssClass]) VALUES (3, 1, 4, 30, N'pathway-end')
GO
SET IDENTITY_INSERT [RTT].[EventDisplayOrder] OFF
GO
SET IDENTITY_INSERT [RTT].[EventEndpoint] ON 

GO
INSERT [RTT].[EventEndpoint] ([Id], [Name], [Description]) VALUES (1, N'S', N'Start')
GO
INSERT [RTT].[EventEndpoint] ([Id], [Name], [Description]) VALUES (2, N'M', N'Midpoint')
GO
INSERT [RTT].[EventEndpoint] ([Id], [Name], [Description]) VALUES (3, N'E', N'End')
GO
SET IDENTITY_INSERT [RTT].[EventEndpoint] OFF
GO
SET IDENTITY_INSERT [RTT].[EventSubType] ON 

GO
INSERT [RTT].[EventSubType] ([Id], [EventTypeId], [Name], [Description]) VALUES (1, 5, N'NEW', N'New Appointment')
GO
INSERT [RTT].[EventSubType] ([Id], [EventTypeId], [Name], [Description]) VALUES (2, 5, N'FUP', N'Follow Up Appointment')
GO
INSERT [RTT].[EventSubType] ([Id], [EventTypeId], [Name], [Description]) VALUES (3, 6, N'DIAGNOSTIC', N'Diagnostic Waiting List')
GO
SET IDENTITY_INSERT [RTT].[EventSubType] OFF
GO
SET IDENTITY_INSERT [RTT].[EventType] ON 

GO
INSERT [RTT].[EventType] ([Id], [Name], [Description]) VALUES (1, N'REFERRAL', N'Referral')
GO
INSERT [RTT].[EventType] ([Id], [Name], [Description]) VALUES (2, N'PATHWAY', N'Pathway')
GO
INSERT [RTT].[EventType] ([Id], [Name], [Description]) VALUES (3, N'CLOCK', N'Clock')
GO
SET IDENTITY_INSERT [RTT].[EventType] OFF
GO
SET IDENTITY_INSERT [RTT].[Pathway] ON 

GO
INSERT [RTT].[Pathway] ([PathwayId], [PathwayNumber], [DaysWait], [ClockStartDate], [ClockStopDate]) VALUES (1, N'000000000000000', 84, CAST(N'2015-11-05' AS Date), CAST(N'2016-02-03' AS Date))
GO
INSERT [RTT].[Pathway] ([PathwayId], [PathwayNumber], [DaysWait], [ClockStartDate], [ClockStopDate]) VALUES (2, N'000000000000001', 161, CAST(N'2016-05-06' AS Date), NULL)
GO
INSERT [RTT].[Pathway] ([PathwayId], [PathwayNumber], [DaysWait], [ClockStartDate], [ClockStopDate]) VALUES (3, N'000000000000002', 196, CAST(N'2016-04-27' AS Date), NULL)
GO
SET IDENTITY_INSERT [RTT].[Pathway] OFF
GO
/****** Object:  Index [IX_RttEvent_EventDateTimeASC]    Script Date: 29/04/2017 20:18:28 ******/
CREATE NONCLUSTERED INDEX [IX_RttEvent_EventDateTimeASC] ON [RTT].[Event]
(
	[EventDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RttEvent_EventDateTimeDESC]    Script Date: 29/04/2017 20:18:28 ******/
CREATE NONCLUSTERED INDEX [IX_RttEvent_EventDateTimeDESC] ON [RTT].[Event]
(
	[EventDateTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RttEvents_EncounterId]    Script Date: 29/04/2017 20:18:28 ******/
CREATE NONCLUSTERED INDEX [IX_RttEvents_EncounterId] ON [RTT].[Event]
(
	[EncounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RttEvents_RttPathwayId]    Script Date: 29/04/2017 20:18:28 ******/
CREATE NONCLUSTERED INDEX [IX_RttEvents_RttPathwayId] ON [RTT].[Event]
(
	[PathwayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RttEventDescription_EventId]    Script Date: 29/04/2017 20:18:28 ******/
CREATE NONCLUSTERED INDEX [IX_RttEventDescription_EventId] ON [RTT].[EventDescription]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [app].[FormGeneratorSearchTemplate]  WITH CHECK ADD  CONSTRAINT [FK_FormGeneratorSearchTemplate_FormGeneratorGroup] FOREIGN KEY([GroupId])
REFERENCES [app].[FormGeneratorGroup] ([Id])
GO
ALTER TABLE [app].[FormGeneratorSearchTemplate] CHECK CONSTRAINT [FK_FormGeneratorSearchTemplate_FormGeneratorGroup]
GO
ALTER TABLE [app].[FormGeneratorSearchTemplate]  WITH CHECK ADD  CONSTRAINT [FK_FormGeneratorSearchTemplate_FormGeneratorOASISQuery] FOREIGN KEY([PASQueryId])
REFERENCES [app].[FormGeneratorPASQuery] ([Id])
GO
ALTER TABLE [app].[FormGeneratorSearchTemplate] CHECK CONSTRAINT [FK_FormGeneratorSearchTemplate_FormGeneratorOASISQuery]
GO
ALTER TABLE [app].[FormGeneratorSearchTemplate]  WITH CHECK ADD  CONSTRAINT [FK_FormGeneratorSearchTemplate_FormGeneratorSearch] FOREIGN KEY([SearchId])
REFERENCES [app].[FormGeneratorSearch] ([Id])
GO
ALTER TABLE [app].[FormGeneratorSearchTemplate] CHECK CONSTRAINT [FK_FormGeneratorSearchTemplate_FormGeneratorSearch]
GO
ALTER TABLE [app].[FormGeneratorSearchTemplate]  WITH CHECK ADD  CONSTRAINT [FK_FormGeneratorSearchTemplate_FormGeneratorTemplate] FOREIGN KEY([TemplateId])
REFERENCES [app].[FormGeneratorTemplate] ([Id])
GO
ALTER TABLE [app].[FormGeneratorSearchTemplate] CHECK CONSTRAINT [FK_FormGeneratorSearchTemplate_FormGeneratorTemplate]
GO
ALTER TABLE [app].[FormGeneratorTemplate]  WITH CHECK ADD  CONSTRAINT [FK_FormGeneratorTemplate_FormGeneratorGroup] FOREIGN KEY([GroupId])
REFERENCES [app].[FormGeneratorGroup] ([Id])
GO
ALTER TABLE [app].[FormGeneratorTemplate] CHECK CONSTRAINT [FK_FormGeneratorTemplate_FormGeneratorGroup]
GO
ALTER TABLE [app].[FormGeneratorTemplate]  WITH CHECK ADD  CONSTRAINT [FK_FormGeneratorTemplate_FormGeneratorOASISQuery] FOREIGN KEY([EncounterPASQueryId])
REFERENCES [app].[FormGeneratorPASQuery] ([Id])
GO
ALTER TABLE [app].[FormGeneratorTemplate] CHECK CONSTRAINT [FK_FormGeneratorTemplate_FormGeneratorOASISQuery]
GO
ALTER TABLE [PAS].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Clinic] FOREIGN KEY([ClinicId])
REFERENCES [PAS].[Clinic] ([ClinicId])
GO
ALTER TABLE [PAS].[Appointment] CHECK CONSTRAINT [FK_Appointment_Clinic]
GO
ALTER TABLE [PAS].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Patient] FOREIGN KEY([PatientId])
REFERENCES [PAS].[Patient] ([PatientId])
GO
ALTER TABLE [PAS].[Appointment] CHECK CONSTRAINT [FK_Appointment_Patient]
GO
ALTER TABLE [PAS].[Clinic]  WITH CHECK ADD  CONSTRAINT [FK_Clinic_Consultant] FOREIGN KEY([ConsultantId])
REFERENCES [PAS].[Consultant] ([ConsultantId])
GO
ALTER TABLE [PAS].[Clinic] CHECK CONSTRAINT [FK_Clinic_Consultant]
GO
ALTER TABLE [PAS].[Clinic]  WITH CHECK ADD  CONSTRAINT [FK_Clinic_Specialty] FOREIGN KEY([SpecialtyId])
REFERENCES [PAS].[Specialty] ([SpecialtyId])
GO
ALTER TABLE [PAS].[Clinic] CHECK CONSTRAINT [FK_Clinic_Specialty]
GO
ALTER TABLE [RTT].[EventDefinition]  WITH CHECK ADD  CONSTRAINT [FK_EventDefinition_EventAction] FOREIGN KEY([ActionId])
REFERENCES [RTT].[EventAction] ([Id])
GO
ALTER TABLE [RTT].[EventDefinition] CHECK CONSTRAINT [FK_EventDefinition_EventAction]
GO
ALTER TABLE [RTT].[EventDefinition]  WITH CHECK ADD  CONSTRAINT [FK_EventDefinition_EventEndpoint] FOREIGN KEY([EndpointId])
REFERENCES [RTT].[EventEndpoint] ([Id])
GO
ALTER TABLE [RTT].[EventDefinition] CHECK CONSTRAINT [FK_EventDefinition_EventEndpoint]
GO
ALTER TABLE [RTT].[EventDefinition]  WITH CHECK ADD  CONSTRAINT [FK_EventDefinition_EventSubType] FOREIGN KEY([EventSubTypeId])
REFERENCES [RTT].[EventSubType] ([Id])
GO
ALTER TABLE [RTT].[EventDefinition] CHECK CONSTRAINT [FK_EventDefinition_EventSubType]
GO
ALTER TABLE [RTT].[EventDefinition]  WITH CHECK ADD  CONSTRAINT [FK_EventDefinition_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [RTT].[EventType] ([Id])
GO
ALTER TABLE [RTT].[EventDefinition] CHECK CONSTRAINT [FK_EventDefinition_EventType]
GO
ALTER TABLE [RTT].[EventDescriptionTemplateEventDisplayOrder]  WITH CHECK ADD  CONSTRAINT [FK_EventDescriptionTemplateDisplayOrder_EventDescriptionTemplate] FOREIGN KEY([EventDescriptionTemplateId])
REFERENCES [RTT].[EventDefinition] ([Id])
GO
ALTER TABLE [RTT].[EventDescriptionTemplateEventDisplayOrder] CHECK CONSTRAINT [FK_EventDescriptionTemplateDisplayOrder_EventDescriptionTemplate]
GO
ALTER TABLE [RTT].[EventDescriptionTemplateEventDisplayOrder]  WITH CHECK ADD  CONSTRAINT [FK_EventDescriptionTemplateDisplayOrder_EventDisplayOrder] FOREIGN KEY([EventDisplayOrderId])
REFERENCES [RTT].[EventDisplayOrder] ([Id])
GO
ALTER TABLE [RTT].[EventDescriptionTemplateEventDisplayOrder] CHECK CONSTRAINT [FK_EventDescriptionTemplateDisplayOrder_EventDisplayOrder]
GO
ALTER TABLE [RTT].[EventDisplayOrder]  WITH CHECK ADD  CONSTRAINT [FK_EventDisplayOrder_EventDefinition] FOREIGN KEY([EventDefinitionId])
REFERENCES [RTT].[EventDefinition] ([Id])
GO
ALTER TABLE [RTT].[EventDisplayOrder] CHECK CONSTRAINT [FK_EventDisplayOrder_EventDefinition]
GO
ALTER TABLE [RTT].[EventDisplayOrder]  WITH CHECK ADD  CONSTRAINT [FK_EventDisplayOrder_EventDisplay] FOREIGN KEY([EventDisplayId])
REFERENCES [RTT].[EventDisplay] ([Id])
GO
ALTER TABLE [RTT].[EventDisplayOrder] CHECK CONSTRAINT [FK_EventDisplayOrder_EventDisplay]
GO
ALTER TABLE [RTT].[EventSubType]  WITH CHECK ADD  CONSTRAINT [FK_EventSubType_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [RTT].[EventType] ([Id])
GO
ALTER TABLE [RTT].[EventSubType] CHECK CONSTRAINT [FK_EventSubType_EventType]
GO
/****** Object:  StoredProcedure [app].[uspFormGenerator_GetFormGroup]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [app].[uspFormGenerator_GetFormGroup]
AS
	BEGIN
		SELECT g.Id, g.Name, g.Description, g.ImageUrl, g.CssClass, t.TemplateName AS DefaultTemplateName,
			CASE (SELECT COUNT(*) FROM [APP].FormGeneratorSearchTemplate st WHERE st.GroupId = g.Id) 
				WHEN 0 THEN 0
				ELSE 1 
			END AS ShowSearch
		FROM [APP].[FormGeneratorGroup] g
		LEFT JOIN [APP].FormGeneratorTemplate t ON g.DefaultTemplateId = t.Id
		WHERE g.Display = 1
	END

GO
/****** Object:  StoredProcedure [app].[uspFormGenerator_GetFormSearchByGroupId]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [app].[uspFormGenerator_GetFormSearchByGroupId]
	@id int
AS
	BEGIN
		SET NOCOUNT ON;

		SELECT s.Name AS SearchName, s.Description AS SearchDescription, s.Url AS SearchUrl, t.Id AS TemplateId
		FROM [APP].[FormGeneratorSearchTemplate] st
		JOIN [APP].[FormGeneratorSearch] s ON st.SearchId = s.Id
		JOIN [APP].[FormGeneratorTemplate] t ON st.TemplateId = t.Id
		WHERE st.GroupId = @id AND t.Display = 1
		ORDER BY s.DisplayOrder
	END

GO
/****** Object:  StoredProcedure [app].[uspFormGenerator_GetFormTemplateByAllName]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [app].[uspFormGenerator_GetFormTemplateByAllName]
	@name NVARCHAR(255)
AS
	BEGIN
		SET NOCOUNT ON;

		SELECT t.*, q.[SQL]
		FROM [APP].[FormGeneratorTemplate] t
		LEFT JOIN [APP].[FormGeneratorPASQuery] q ON t.EncounterPASQueryId = q.Id
		WHERE t.AllTemplateName = @name
	END

GO
/****** Object:  StoredProcedure [app].[uspFormGenerator_GetFormTemplateById]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [app].[uspFormGenerator_GetFormTemplateById]
	@id int
AS
	BEGIN
		SET NOCOUNT ON;

		SELECT *
		FROM [APP].[FormGeneratorTemplate]
		WHERE Id = @id
	END

GO
/****** Object:  StoredProcedure [app].[uspFormGenerator_GetFormTemplateByName]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [app].[uspFormGenerator_GetFormTemplateByName]
	@name NVARCHAR(255)
AS
	BEGIN
		SET NOCOUNT ON;

		SELECT t.*, q.[SQL]
		FROM [APP].[FormGeneratorTemplate] t
		LEFT JOIN [APP].[FormGeneratorPASQuery] q ON t.EncounterPASQueryId = q.Id
		WHERE t.TemplateName = @name
	END

GO
/****** Object:  StoredProcedure [app].[uspFormGenerator_GetPASQueryByName]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [app].[uspFormGenerator_GetPASQueryByName]
	@name NVARCHAR(255)
AS
	BEGIN
		SET NOCOUNT ON;
		SELECT TOP 1 q.Name, q.[SQL] FROM [APP].[FormGeneratorPASQuery] q WHERE q.Name = @name 
	END

GO
/****** Object:  StoredProcedure [app].[uspFormGenerator_GetPASQueryByNameTemplateId]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [app].[uspFormGenerator_GetPASQueryByNameTemplateId]
	@name NVARCHAR(255),
	@id int
AS
	BEGIN
		SET NOCOUNT ON;

		SELECT TOP 1 q.Name, q.[SQL]
		FROM [APP].[FormGeneratorPASQuery] q
		JOIN [APP].[FormGeneratorSearchTemplate] st ON q.Id = st.PASQueryId
		WHERE q.Name = @name AND st.TemplateId = @id
	END

GO
/****** Object:  StoredProcedure [RTT].[uspCribSheet]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RTT].[uspCribSheet]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT  ed.Code,
			ed.Name AS EventName,
			ed.[Description]  AS EventDescription,
			edo.CssClass, LongDescription
	FROM RTT.[EventDefinition] ed
	JOIN RTT.[EventDisplayOrder] edo ON ed.Id = edo.EventDefinitionId
	JOIN RTT.[EventDisplay] display ON display.Id = edo.EventDisplayId
	LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
	LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
	LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
	LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
	WHERE display.Name = 'OutpatientAttendance_PathwayTimeline' AND display.Version = 1
	ORDER BY edo.DisplayOrder;		
END

GO
/****** Object:  StoredProcedure [RTT].[uspEventSummary]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RTT].[uspEventSummary]
	@PatientId INT, @PathwayId INT, @EncounterId INT
AS
BEGIN
	SET NOCOUNT ON;

	IF(EXISTS(SELECT ev.Id FROM RTT.[Event] ev WHERE ev.PathwayId = @PathwayId AND ev.Ix = 1))
	BEGIN
		SELECT 
			(SELECT COUNT(*) FROM RTT.[Event] totalDNA JOIN RTT.[EventDefinition] ed ON totalDNA.EventDefinitionId = ed.Id WHERE rtt.PathwayId = totalDNA.PathwayId AND ed.ActionId = 4) AS NoDNA
			,(SELECT TOP 1 SerialDnaIx FROM RTT.[Event] serialDNA WHERE rtt.PathwayId = serialDNA.PathwayId AND serialDNA.SerialDnaIx IS NOT NULL ORDER BY serialDNA.EventDateTime DESC, serialDNA.SerialDnaIx DESC) AS NoSerialDNA
			,FLOOR(dmRtt.DaysWait / 7)  AS RttWeek
			,(SELECT COUNT(*) FROM RTT.[Event] resechedule JOIN RTT.[EventDefinition] ed ON resechedule.EventDefinitionId = ed.Id WHERE rtt.PathwayId = resechedule.PathwayId AND ActionId = 5 AND resechedule.OutcomeCode = '86350') AS NoRescheduleHospital
			,(SELECT COUNT(*) FROM RTT.[Event] resechedule JOIN RTT.[EventDefinition] ed ON resechedule.EventDefinitionId = ed.Id WHERE rtt.PathwayId = resechedule.PathwayId AND ActionId = 5 AND resechedule.OutcomeCode = '90375') AS NoReschedulePatient
			,(SELECT COUNT(*) FROM RTT.[Event] cancel JOIN RTT.[EventDefinition] ed ON cancel.EventDefinitionId = ed.Id WHERE rtt.PathwayId = cancel.PathwayId AND ActionId = 2) AS NoCancellation
			,CASE WHEN FLOOR(dmRtt.DaysWait / 7) > 18 THEN
				1
			END AS IsLongerThan18Weeks
			,CASE WHEN dmRtt.ClockStartDate IS NOT NULL AND dmRtt.ClockStopDate IS NULL THEN
				1
			END AS IsClockRunning
			,CASE WHEN dmRtt.ClockStopDate IS NOT NULL THEN
				1
			END AS IsClockStopped
			,CASE WHEN (SELECT TOP 1 SerialDnaIx FROM RTT.[Event] serialDNA WHERE rtt.PathwayId = serialDNA.PathwayId AND serialDNA.SerialDnaIx IS NOT NULL ORDER BY serialDNA.EventDateTime DESC) > 1 THEN
				1
			END AS IsSerialDna
		FROM RTT.[Event] rtt
		LEFT JOIN RTT.Pathway dmRtt ON rtt.PathwayId = dmRtt.PathwayId
		WHERE rtt.PathwayId = @PathwayId AND rtt.Ix = 1
	END
	ELSE
	BEGIN -- Return something so that the outcome options are displayed
		SELECT '--' AS NoDNA, '--' AS NoSerialDNA, '--' AS RttWeek, '--' AS NoRescheduleHospital, '--' AS NoReschedulePatient, '--' AS NoCancellation,
		1 AS IsClockRunning, 1 AS IsClockStopped, 1 AS IsNotFound
	END
END

GO
/****** Object:  StoredProcedure [RTT].[uspPathwayTimeLine]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RTT].[uspPathwayTimeLine]
	@PatientId INT, @PathwayId INT, @EncounterId INT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @maxNoEvents INT; 
	SELECT TOP 1 @maxNoEvents = MaxNoEvents FROM RTT.[EventDisplay] ed WHERE ed.Name = 'OutpatientAttendance_PathwayTimeline' AND ed.[Version] = 1;

	SELECT TOP (@maxNoEvents) rtt.EncounterId,
			FORMAT(rtt.EventDate, 'dd-MMM-yyyy') AS EventDate, 
			ed.Code,
			ed.Name AS EventName,

			STUFF(( SELECT '<br/>' + evd.[Description] 
					FROM RTT.EventDescription evd 
					WHERE evd.EventId = rtt.Id 
					ORDER BY evd.DisplayOrder
					FOR XML PATH(''), type).value('.', 'varchar(max)'), 1, 5, '') AS EventDescription,
			CASE code 
				WHEN 'CS' THEN ''
				WHEN 'PS' THEN ''
				WHEN 'PE' THEN ''
			ELSE
				CASE WHEN (SELECT TOP 1 a.DaysWait FROM RTT.Pathway a WHERE a.PathwayId = rtt.PathwayId AND rtt.EventDate >= a.ClockStartDate AND (a.ClockStopDate IS NULL OR rtt.EventDate <= a.ClockStopDate)) IS NULL THEN
					'Watchful Wait'
				ELSE
					CAST(FLOOR(DATEDIFF(d, 
						(SELECT TOP 1 a.ClockStartDate FROM RTT.Pathway a WHERE a.PathwayId = rtt.PathwayId AND rtt.EventDate >= a.ClockStartDate AND (a.ClockStopDate IS NULL OR rtt.EventDate <= a.ClockStopDate) ORDER BY a.ClockStopDate)
							, rtt.EventDate) / 7) AS varchar(5)) + ' wks'
				END
			END AS WeeksWait,
			ego.CssClass
	FROM RTT.[Event] rtt 
	JOIN RTT.[EventDefinition] ed ON rtt.EventDefinitionId = ed.Id
	JOIN RTT.[EventDisplayOrder] ego ON ed.Id = ego.EventDefinitionId
	JOIN RTT.[EventDisplay] eg ON eg.Id = ego.EventDisplayId
	LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
	LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
	LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
	LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
	WHERE rtt.PathwayId = @PathwayId AND eg.Name = 'OutpatientAttendance_PathwayTimeline' AND eg.[Version] = 1
	ORDER BY rtt.EventDate DESC, ego.DisplayOrder;
END

GO
/****** Object:  StoredProcedure [RTT].[uspPathwayTimeLine_Summary]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Matthew Cutting
-- ALTER date:	22.08.2016
-- Description:	Used by the dynamic outpatient attendance form for displaying a summary of events if there are too many events to fit on the timeline
-- =============================================
CREATE PROCEDURE [RTT].[uspPathwayTimeLine_Summary]
	@PatientId INT, @PathwayId INT, @EncounterId INT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @maxNoEvents INT; 
	DECLARE @noStartEvents INT; 
	DECLARE @noEvents INT; 

	SELECT TOP 1 @maxNoEvents = MaxNoEvents, @noStartEvents = NoStartEvents FROM RTT.[EventDisplay] ed WHERE ed.Name = 'OutpatientAttendance_PathwayTimeline' AND ed.[Version] = 1;

	SELECT @noEvents = COUNT(*) 
	FROM RTT.[Event] rtt 
	JOIN RTT.[EventDefinition] ed ON rtt.EventDefinitionId = ed.Id
	JOIN RTT.[EventDisplayOrder] ego ON ed.Id = ego.EventDefinitionId
	JOIN RTT.[EventDisplay] eg ON eg.Id = ego.EventDisplayId
	LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
	LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
	LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
	LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
	WHERE rtt.PathwayId = @PathwayId AND eg.Name = 'OutpatientAttendance_PathwayTimeline' AND eg.[Version] = 1; 


	IF @noEvents > @maxNoEvents 
	BEGIN
		DECLARE @ExcludedEvents TABLE(Id INT)

		--Exclude events that have already been written
		INSERT INTO @ExcludedEvents (Id)
		SELECT TOP (@maxNoEvents) rtt.Id
		FROM RTT.[Event] rtt 
		JOIN RTT.[EventDefinition] ed ON rtt.EventDefinitionId = ed.Id
		JOIN RTT.[EventDisplayOrder] ego ON ed.Id = ego.EventDefinitionId
		JOIN RTT.[EventDisplay] eg ON eg.Id = ego.EventDisplayId
		LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
		LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
		LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
		LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
		WHERE rtt.PathwayId = @PathwayId AND eg.Name = 'OutpatientAttendance_PathwayTimeline' AND eg.[Version] = 1
		ORDER BY rtt.EventDate DESC, ego.DisplayOrder;

		--Exclude events that are in the start top x
		INSERT INTO @ExcludedEvents (Id)
		SELECT TOP (@noStartEvents) rtt.Id 
		FROM RTT.[Event] rtt 
		JOIN RTT.[EventDefinition] ed ON rtt.EventDefinitionId = ed.Id
		JOIN RTT.[EventDisplayOrder] ego ON ed.Id = ego.EventDefinitionId
		JOIN RTT.[EventDisplay] eg ON eg.Id = ego.EventDisplayId
		LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
		LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
		LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
		LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
		WHERE eg.Name = 'OutpatientAttendance_PathwayTimeline' AND eg.[Version] = 1 AND rtt.PathwayId = @PathwayId 
		ORDER BY rtt.EventDate, ego.DisplayOrder; -- then sort in descending

		-- Return the summary
		SELECT 
			ed.Code, ed.[Description], 
			(SELECT COUNT(*) 
				FROM RTT.[Event] rtt 
				JOIN RTT.[EventDefinition] ed2 ON rtt.EventDefinitionId = ed2.Id
				WHERE 
					rtt.PathwayId = @PathwayId AND ed2.Code = ed.Code AND rtt.Id NOT IN (SELECT Id FROM @ExcludedEvents)
			) NoEvents
		FROM RTT.[EventDefinition] ed
		JOIN RTT.[EventDisplayOrder] ego ON ed.Id = ego.EventDefinitionId
		JOIN RTT.[EventDisplay] eg ON eg.Id = ego.EventDisplayId
		LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
		LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
		LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
		LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
		WHERE eg.Name = 'OutpatientAttendance_PathwayTimeline' AND eg.[Version] = 1
			AND (SELECT COUNT(*) 
					FROM RTT.[Event] rtt 
					JOIN RTT.[EventDefinition] ed2 ON rtt.EventDefinitionId = ed2.Id
				WHERE 
					rtt.PathwayId = @PathwayId AND ed2.Code = ed.Code AND rtt.Id NOT IN (SELECT Id FROM @ExcludedEvents)
			) > 0 
		ORDER BY ego.DisplayOrder DESC;
	END
END

GO
/****** Object:  StoredProcedure [RTT].[uspPathwayTimeLine_SummaryDates]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Matthew Cutting
-- ALTER date:	22.08.2016
-- Description:	Used by the dynamic outpatient attendance form for displaying a summary of events if there are too many events to fit on the timeline
-- =============================================
CREATE PROCEDURE [RTT].[uspPathwayTimeLine_SummaryDates]
	@PatientId INT, @PathwayId INT, @EncounterId INT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @maxNoEvents INT; 
	DECLARE @noStartEvents INT; 
	DECLARE @noEvents INT; 

	SELECT TOP 1 @maxNoEvents = MaxNoEvents, @noStartEvents = NoStartEvents FROM RTT.[EventDisplay] ed WHERE ed.Name = 'OutpatientAttendance_PathwayTimeline' AND ed.[Version] = 1;

	SELECT @noEvents = COUNT(*) 
	FROM RTT.[Event] rtt 
	JOIN RTT.[EventDefinition] ed ON rtt.EventDefinitionId = ed.Id
	JOIN RTT.[EventDisplayOrder] ego ON ed.Id = ego.EventDefinitionId
	JOIN RTT.[EventDisplay] eg ON eg.Id = ego.EventDisplayId
	LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
	LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
	LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
	LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
	WHERE rtt.PathwayId = @PathwayId AND eg.Name = 'OutpatientAttendance_PathwayTimeline' AND eg.[Version] = 1; 


	IF @noEvents > @maxNoEvents 
	BEGIN
		DECLARE @ExcludedEvents TABLE(Id INT)

		--Exclude events that have already been written
		INSERT INTO @ExcludedEvents (Id)
		SELECT TOP (@maxNoEvents) rtt.Id
		FROM RTT.[Event] rtt 
		JOIN RTT.[EventDefinition] ed ON rtt.EventDefinitionId = ed.Id
		JOIN RTT.[EventDisplayOrder] ego ON ed.Id = ego.EventDefinitionId
		JOIN RTT.[EventDisplay] eg ON eg.Id = ego.EventDisplayId
		LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
		LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
		LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
		LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
		WHERE rtt.PathwayId = @PathwayId AND eg.Name = 'OutpatientAttendance_PathwayTimeline' AND eg.[Version] = 1
		ORDER BY rtt.EventDate DESC, ego.DisplayOrder;

		--Exclude events that are in the start top x
		INSERT INTO @ExcludedEvents (Id)
		SELECT TOP (@noStartEvents) rtt.Id 
		FROM RTT.[Event] rtt 
		JOIN RTT.[EventDefinition] ed ON rtt.EventDefinitionId = ed.Id
		JOIN RTT.[EventDisplayOrder] ego ON ed.Id = ego.EventDefinitionId
		JOIN RTT.[EventDisplay] eg ON eg.Id = ego.EventDisplayId
		LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
		LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
		LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
		LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
		WHERE eg.Name = 'OutpatientAttendance_PathwayTimeline' AND eg.[Version] = 1 AND rtt.PathwayId = @PathwayId 
		ORDER BY rtt.EventDate, ego.DisplayOrder; -- then sort in descending

		-- Return the first and last dates
		SELECT FORMAT(MIN(rtt.EventDate), 'dd-MMM-yyyy') AS StartDate, FORMAT(MAX(rtt.EventDate), 'dd-MMM-yyyy') AS EndDate
		FROM RTT.[Event] rtt 
		JOIN RTT.[EventDefinition] ed ON rtt.EventDefinitionId = ed.Id
		JOIN RTT.[EventDisplayOrder] ego ON ed.Id = ego.EventDefinitionId
		JOIN RTT.[EventDisplay] eg ON eg.Id = ego.EventDisplayId
		LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
		LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
		LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
		LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
		WHERE eg.Name = 'OutpatientAttendance_PathwayTimeline' AND eg.[Version] = 1
			AND rtt.PathwayId = @PathwayId AND rtt.Id NOT IN (SELECT Id FROM @ExcludedEvents)
		--GROUP BY rtt.e;
	END
END

GO
/****** Object:  StoredProcedure [RTT].[uspPathwayTimeLine_SummaryStart]    Script Date: 29/04/2017 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RTT].[uspPathwayTimeLine_SummaryStart]
	@PatientId INT, @PathwayId INT, @EncounterId INT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @maxNoEvents INT; 
	DECLARE @noStartEvents INT; 
	DECLARE @noEvents INT; 

	SELECT TOP 1 @maxNoEvents = MaxNoEvents, @noStartEvents = NoStartEvents FROM RTT.[EventDisplay] ed WHERE ed.Name = 'OutpatientAttendance_PathwayTimeline' AND ed.[Version] = 1;

	SELECT @noEvents = COUNT(*) 
		FROM RTT.[Event] rtt 
		JOIN RTT.[EventDefinition] ed ON rtt.EventDefinitionId = ed.Id
		JOIN RTT.[EventDisplayOrder] ego ON ed.Id = ego.EventDefinitionId
		JOIN RTT.[EventDisplay] eg ON eg.Id = ego.EventDisplayId
		LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
		LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
		LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
		LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
	WHERE rtt.PathwayId = @PathwayId AND eg.Name = 'OutpatientAttendance_PathwayTimeline' AND eg.[Version] = 1; 

	--Check to see if the number of events is more than allowed
	IF @noEvents > @maxNoEvents 
	BEGIN
			SELECT rtt.EncounterId,
					FORMAT(rtt.EventDate, 'dd-MMM-yyyy') AS EventDate, 
					ed.Code,
					ed.Name AS EventName,

					STUFF(( SELECT '<br/>' + evd.[Description] 
							FROM RTT.EventDescription evd 
							WHERE evd.EventId = rtt.Id 
							ORDER BY evd.DisplayOrder
							FOR XML PATH(''), type).value('.', 'varchar(max)'), 1, 5, '') AS EventDescription,
					CASE code 
						WHEN 'CS' THEN ''
						WHEN 'PS' THEN ''
						WHEN 'PE' THEN ''
					ELSE
						CASE WHEN (SELECT TOP 1 a.DaysWait FROM RTT.Pathway a WHERE a.PathwayId = rtt.PathwayId AND rtt.EventDate >= a.ClockStartDate AND (a.ClockStopDate IS NULL OR rtt.EventDate <= a.ClockStopDate)) IS NULL THEN
							'Watchful Wait'
						ELSE
							CAST(FLOOR(DATEDIFF(d, 
								(SELECT TOP 1 a.ClockStartDate FROM RTT.Pathway a WHERE a.PathwayId = rtt.PathwayId AND rtt.EventDate >= a.ClockStartDate AND (a.ClockStopDate IS NULL OR rtt.EventDate <= a.ClockStopDate) ORDER BY a.ClockStopDate)
									, rtt.EventDate) / 7) AS varchar(5)) + ' wks'
						END
					END AS WeeksWait,
					ego.CssClass
			FROM RTT.[Event] rtt 
			JOIN RTT.[EventDefinition] ed ON rtt.EventDefinitionId = ed.Id
			JOIN RTT.[EventDisplayOrder] ego ON ed.Id = ego.EventDefinitionId
			JOIN RTT.[EventDisplay] eg ON eg.Id = ego.EventDisplayId
			LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
			LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
			LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
			LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
			WHERE eg.Name = 'OutpatientAttendance_PathwayTimeline' AND eg.[Version] = 1 AND rtt.PathwayId = @PathwayId 
				AND rtt.Id IN -- Get the top x in ascending order
					(SELECT TOP (@noStartEvents) rtt.Id
						FROM RTT.[Event] rtt 
						JOIN RTT.[EventDefinition] ed ON rtt.EventDefinitionId = ed.Id
						JOIN RTT.[EventDisplayOrder] ego ON ed.Id = ego.EventDefinitionId
						JOIN RTT.[EventDisplay] eg ON eg.Id = ego.EventDisplayId
						LEFT JOIN RTT.EventAction act ON ed.ActionId = act.Id
						LEFT JOIN RTT.EventEndpoint ep ON ed.EndpointId = ep.Id
						LEFT JOIN RTT.EventType et ON ed.EventTypeId = et.Id
						LEFT JOIN RTT.EventSubType sub ON ed.EventSubTypeId = sub.Id
						WHERE rtt.PathwayId = @PathwayId AND eg.Name = 'OutpatientAttendance_PathwayTimeline' AND eg.[Version] = 1
						ORDER BY rtt.EventDate, ego.DisplayOrder
					)
			ORDER BY rtt.EventDate DESC, ego.DisplayOrder; -- then sort in descending
	END
END

GO
